/dev/nvos	0666	system	system
/dev/nvrm	0666	system	system
/dev/knvmap	0666	system	system
/dev/nvmap	0666	system	system
/dev/ov5650	0666	media	camera
/dev/soc2030	0666	media	camera
/dev/audio*	0660	system	audio
/dev/tegra_camera	0666	media	camera
/dev/ttyUSB0	0640	radio	radio
/dev/ttyUSB1	0640	radio	radio
/dev/ttyUSB2	0640	radio	radio
/dev/ttyUSB3	0640	radio	radio
/dev/ttyUSB4	0640	radio	radio
